@model InfoGeek.Models.CategoryViewModel.CategoryViewModel

@{
    ViewData["Title"] = "Edit category";
    IEnumerable<Category> categories = TempData["Categories"] as IEnumerable<Category>;
}

<h2>Edit category</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Father, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.Father, categories.Select(c => new SelectListItem { Value = c.Id.ToString(), Text = c.Name }), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

